<h1>用户登录</h1>
    <div id="top_frame">
        <div id="login_form">
            <%= form_tag login_path,name: "form",class:"form-inline" do %>
                    <% if flash[:alert] %>
                        <div class="alert alert-danger"><%= flash[:alert] %></div>
                    <% else %>
                        <div class="alert_placeholder"></div>
                    <% end %>
                    <%= text_field_tag :stuid,params[:stuid],class: "form-control login-input",placeholder: "请输入用户名","data-toggle"=> "popover",autofocus: true,title:"","data-content"=>"用户名不能为空" %>
                    <%= password_field_tag :password,params[:password],class: "form-control login-input",placeholder: "请输入密码","data-toggle"=> "popover",title:"","data-content"=>"密码不能为空" %>
                    <%= submit_tag "登录",class: "btn btn-success login-submit" %>
                    <%= link_to '忘记密码',login_forgot_url,class:'btn btn-default col-xs-12' %>
            <% end %> 
        </div>
    </div>
