<div class="container">
  <div class="page-header">
    <h2>注册账号</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="flow current">
        <div class="order">1</div><span>填写基本信息</span>
      </div>
      <div class="flow">
        <div class="order">2</div><span>验证邮箱</span>
      </div>
      <div class="flow">
        <div class="order">3</div><span>上传头像</span>
      </div>
    </div>
    <div class="col-md-9">
      <%= form_for(@index_student,:html => {:class=>'regist-form'} , url: login_regist_path)  do |f| %>
        <%= form_errors(@index_student) %>
        
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :stuid %>
            <%= f.text_field :stuid,data:{validator:'^\d{10}$',message:"学号必须为10位数字"},placeholder:"10位数字" %>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name,data:{validator:'^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]){2,5}$',message:"2-5个中文字符"},placeholder:"2-5个中文字符" %>
          </div>
          <div class="form-group">
            <%= f.label :pwd %>
            <%= f.password_field :pwd,data:{validator:'\w{8,}',message:"长度至少为8位"},placeholder:"密码至少8位" %>
          </div>
          <div class="form-group">
            <label for="pwd_confirmation">密码确认</label>
            <input id="pwd_confirmation" name="manage_student[pwd_confirmation]" type="password" placeholder="请再输一遍密码" data-message="密码不一致">
          </div>
          <div class="form-group">
            <%= f.label :profession %>
            <%= f.select :profession,option_groups_from_collection_for_select(@professions,:child,:name, :id, :name),include_blank: true %>
          </div>
          <div class="form-group">
            <%= f.label :grade %>
            <%= f.text_field :grade,data:{validator:'\d{2}',message:"应当为2位数字"},placeholder:"2位数字" %>
          </div>
          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone,data:{validator:'\d{11}',message:"应当为11位数字"},placeholder:"11位手机号码" %>
          </div>
          <%= f.submit '确认注册', class:"btn btn-primary btn-lg btn-block",onclick:"return checkform()" %>
        </div>
        

<!--       <tr>
              <td><%= f.label :email %></td>
              <td><%= f.text_field :email,class:"form-control" %></td>
              <td></td> 
            </tr> -->
            
<!-- <tr>
              <td><%= f.label :avatar %></td>
              <td><%= f.file_field :avatar,class:"form-control" %></td>
              <td></td> 
            </tr> -->

      <% end %>
    </div>
  </div>
    
</div>