<%= section_form_for(@manage_section,@compete) do |f| %>
  <%= form_errors(@manage_section) %>

  <table class="table">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name,class:"form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :start_time %></td>
      <td><%= f.datetime_local_field :start_time %></td>
    </tr>
    <tr>
      <td><%= f.label :end_time %></td>
      <td><%= f.datetime_local_field :end_time %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit nil,class:"btn btn-primary" %>
  </div>
<% end %>
<br><br>
