<div class="page-header">
    <h2>编辑“<%= @manage_section.name %>” <small><%= @compete.name_with_annual %></small></h2>
</div>

<%= render 'form' %>
<h3>填表信息</h3>
<table class="table table-bordered">
  
  <thead>
    <th>序号</th>
    <th>类型</th>
    <th>字段名称</th>
    <th>默认值</th>
    <th>长度限制</th>
    <th>操作</th>
  </thead>
  <% @xforms.each_with_index do |x,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td width="10px"><div class="form-icon icon-<%= x.field_type %>"></div></td>
    <td><%= x.name %></td>
    <td><%= x.default_val %></td>
    <td><%= x.length_limit %></td>
    <td><%= link_to '编辑',edit_manage_compete_section_xform_url(section_id: params[:id],id:x.id,format: :js),remote:true,class:"btn btn-primary" %></td>
  </tr>
  <% end %>
</table>
<div class="alert alert-success">
  <h4>添加新的填表项</h4>
  <div class="icons">
    <% Xform.field_types.each do |type| %>
    <a href="<%= new_manage_compete_section_xform_url(section_id: params[:id],format: :js) %>?field_type=<%= type %>" data-remote="true"><div class="form-icon icon-<%= type %>" data-type="<%= type %>"></div></a>
    <% end %>
    <div class="clear"></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="submit_form(this)">保存更改</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">不保存更改并关闭</button>
      </div>
    </div>
  </div>
</div>
<%= content_for :js  do %>
<%= javascript_include_tag 'ckeditor/init' %>
<script>
function submit_form(obj) {
  $(obj).attr("disabled",true).html("提交中...");
  $('#manage_xform_message').html(CKEDITOR.instances["manage_xform_message"].getData());
  $.ajax({
      cache: false,
      type: $('#xform').attr('method'),
      url: $('#xform').attr('action')+".json",
      data:$('#xform').serialize(),// 你的formid
      async: false,
      error: function(request) {
        if(422 == request.status){
          var alert_message = "您的表单有以下错误：\n";
          for(item in request.responseJSON){
            alert_message+=request.responseJSON[item]+"\n";
          }
          alert(alert_message);
        }else{
          alert("服务器错误！");
        }
          
        $(obj).attr("disabled",false).html("保存更改");
      },
      success: function(data) {
        alert("添加成功！");
        window.location.reload();
      }
  });


  // for(x in xform){
  //   if(parseInt(x))
  //     console.log(xform[x]);
  // }
  
}
</script>
<% end %>