<h1>Listing manage_sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_sections.each do |manage_section| %>
      <tr>
        <td><%= manage_section.name %></td>
        <td><%= manage_section.start_time %></td>
        <td><%= manage_section.end_time %></td>
        <td><%= link_to 'Show', manage_section %></td>
        <td><%= link_to 'Edit', edit_manage_section_path(manage_section) %></td>
        <td><%= link_to 'Destroy', manage_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_manage_section_path %>
