<%= content_for :aside do %>
    <%= render partial: "sidebar", locals: {cates: @ancestor.children,current: @cate} %>
<% end %>

<% unless @passages.empty? %>

      <% @passages.each do |p| %>
          <div class="gallery-item">
            <%= image_tag p.cover.url(:thumb),width:250 %>
            <div class="description">
              <h4><%= link_to p.title,cxpt_pshow_url(p) %></h4>
              <p>
                <%= p.summary %>
              </p>
            </div>
        </div>
      <% end %>
<% else %>
    <div class="alert alert-warning">
      <strong>抱歉 :(</strong> 该类别下还没有文章
    </div>
<% end %>
</table>
<div class="clear"></div>
<%= paginate @passages %>
