<%= content_for :aside do %>
  <%= render partial: "sidebar", locals: {cates: @ancestor.children,current: @cate} %>
<% end %>
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><%= link_to @ancestor.name,cxpt_pcate_path(@ancestor.name) %></li>
  <li><%= link_to @cate.name,cxpt_pcate_path(@cate.name) %></li>
  <li class="active">文章： <%= @passage.title %></li>
</ol>
<div class="block-center" id="passage_title">
    <%= @passage.title %>
</div>
<div id="passage_detail">

  <% if @passage.publish_at %>
    发布日期：<%= @passage.publish_at.strftime('%Y-%m-%d') %>
  <% end %>
    作者： <% if @passage.author && @passage.author.length > 0 %>@passage.author<% else %>信息工程创新实验中心<% end %>

    浏览量： <%= @passage.view_count %>
</div>
<hr>
<div id="passage_content">
  <%= raw @passage.content %>
</div>