<%= form_for(@manage_admin) do |f| %>
  <% if @manage_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_admin.errors.count, "error") %> prohibited this manage_admin from being saved:</h2>

      <ul>
      <% @manage_admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :pwd %><br>
    <%= f.text_field :pwd %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :is_enabled %><br>
    <%= f.check_box :is_enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
