<%= form_for(@manage_admin) do |f| %>
  <%= form_errors(@manage_admin) %>
<table class="table">
  <tr>
    <td><%= f.label :uid %></td>
    <td><%= f.text_field :uid,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :nickname %></td>
    <td><%= f.text_field :nickname,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :pwd %></td>
    <td><%= f.text_field :pwd,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :desc %></td>
    <td><%= f.text_field :desc,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :is_enabled %></td>
    <td><%= f.check_box :is_enabled,class:"form-control" %></td>
  </tr>
  <tr>
     <td>用户角色</td>
     <td>
         <% @manage_roles.each do |manage_role| %>
            <% if @admin_roles %>
              <%= check_box_tag 'roles[]',manage_role.id,@admin_roles.include?(manage_role)%>
            <% else %>
              <%= check_box_tag 'roles[]',manage_role.id,false %>
            <% end %>
            <%= label_tag manage_role.name %>  
            <%= label_tag manage_role.remark %> <br>
        <% end %>   
      </td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit nil,class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
