<h1>Editing manage_admin</h1>

<%= render 'form' %>
<%= link_to 'Back', manage_admins_path %>
<%= link_to 'Edit', edit_manage_admin_path(@manage_admin) %> |
<%= link_to 'Back', manage_admins_path %>
<%= link_to 'Show', @manage_admin %> |
<%= link_to 'Back', manage_admins_path %>
