<h1>Listing manage_admins</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Nickname</th>
      <th>Password</th>
      <th>Email</th>
      <th>Desc</th>
      <th>Is enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_admins.each do |manage_admin| %>
      <tr>
        <td><%= manage_admin.uid %></td>
        <td><%= manage_admin.nickname %></td>
        <td><%= manage_admin.password %></td>
        <td><%= manage_admin.email %></td>
        <td><%= manage_admin.desc %></td>
        <td><%= manage_admin.is_enabled %></td>
        <td><%= link_to 'Show', manage_admin %></td>
        <td><%= link_to 'Edit', edit_manage_admin_path(manage_admin) %></td>
        <td><%= link_to 'Destroy', manage_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_manage_admin_path %>
