<div class="page-header">
  <h1>管理员列表</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= tm('admin.uid') %></th>
      <th><%= tm('admin.nickname') %></th>
      <th><%= tm('admin.email') %></th>
      <th><%= tm('admin.desc') %></th>
      <th><%= tm('admin.is_enabled') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_admins.each do |manage_admin| %>
      <tr>
        <td><%= manage_admin.uid %></td>
        <td><%= manage_admin.nickname %></td>
        <td><%= manage_admin.email %></td>
        <td><%= manage_admin.desc %></td>
        <td>
        <%= switch manage_admin.is_enabled,bs_label_tag('启用','success'),bs_label_tag('停用','default') %>
        </td>
        <td>
        <%= link_to '详情', manage_admin,class:"btn btn-info" %>
        <%= link_to '编辑', edit_manage_admin_path(manage_admin),class:"btn btn-warning" %>
        <%= link_to '删除', manage_admin, method: :delete, data: { confirm: t('confirm_delete') },class:"btn btn-danger" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to fa_icon('plus',text:'添加管理员'), new_manage_admin_path,class:"btn btn-success" %>
