<div class="page-header">
  <h1><%= @manage_admin.nickname %> <small>uid:<%= @manage_admin.uid %></small></h1>
</div>
<table class="table">
  <tr>
    <td><%= tm('admin.email') %></td>
    <td><%= @manage_admin.email %></td>
  </tr>
  <tr>
    <td><%= tm('admin.desc') %></td>
    <td><%= @manage_admin.desc %></td>
  </tr>
  <tr>
    <td><%= tm('admin.is_enabled') %></td>
    <td><%= switch @manage_admin.is_enabled,bs_label_tag('启用','success'),bs_label_tag('停用','default') %></td>
  </tr>
  <tr>
    <td>用户角色</td>
    <td>
      <% @admin_roles.each do |admin_role| %>
         <%= admin_role.name %>  
         (<%= admin_role.remark %>)  <br>
      <% end %>   
    </td>
  </tr>
</table>

<%= link_to '编辑用户', edit_manage_admin_path(@manage_admin),class:"btn btn-warning" %>
