<div class="topbar">
  <a href="/contest" class="active"><span class="circle"></span>概览</a>
  <% @contests.each do |contest| %>
      <a href="#"><span class="circle" style="border-color: <%= contest.color %>"></span><%= contest.name %></a>
  <% end %>
  <div class="clear"></div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="contests">
        <% @contests.each do |contest| %>
            <div style="background-color:<%= contest.color %>"><%= contest.color %> <br> 546342456</div>
            
            <div class="contest">
                <%= image_tag contest.cover.url,class:"contest-cover" %>
                <div class="name"><%= contest.name %></div>
            </div>
        <% end %>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
12312312


