<%= form_for(@manage_role) do |f| %>
  <%= form_errors(@manage_role) %>
<table class="table">
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :remark %></td>
    <td><%= f.text_field :remark,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :is_enabled %></td>
    <td><%= f.check_box :is_enabled,class:"form-control" %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit nil,class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
