<%= form_for(@manage_role) do |f| %>
  <%= form_errors(@manage_role) %>
<table class="table">
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :remark %></td>
    <td><%= f.text_field :remark,class:"form-control" %></td>
  </tr>
  <tr>
    <td><%= f.label :is_enabled %></td>
    <td><%= f.check_box :is_enabled,class:"form-control" %></td>
  </tr>
  <tr>
    <td>权限列表</td>
    <td>
      <!-- 这里要把权限按照父-子结构排列出来，通过checkbox筛选。选中父级别的权限会将子级别全选或取消全选。最后通过id发送到服务器 -->
      <div class="panel-group" id="accordion">
        <% i=0 %>
        <% @manage_nodes.each do |manage_node| %>
          <div class="panel panel-default">
            <div class="panel-heading node-block">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= manage_node.name %>">
                  <%= manage_node.title %>(<%= manage_node.name %>)  
                </a>
              </h3>
            </div>
            <div id="collapse<%= manage_node.name %>" class="panel-collapse collapse <% if i==0 %>in<% end %>">
                <table class="table table-hover">
                  <thead>
                    <th><input type="checkbox" data-name="nodes[]" id="check_all"></th>
                    <th><%= tm 'node.name'  %></th>
                    <th><%= tm 'node.title'  %></th>
                    <th><%= tm 'node.remark' %></th>
                    <th><%= tm 'node.field_type' %></th>
                  </thead>
                  
                <% manage_node.child.each do |cnode| %>
                  <tr>
                    <td>
                      <% if @role_nodes %>  
                        <%= check_box_tag 'nodes[]',cnode.id,@role_nodes.include?(cnode)%>
                      <% else %>
                        <%= check_box_tag 'nodes[]',cnode.id,false %>
                      <% end %> 
                    </td>
                    <td><%= cnode.name %></td>
                    <td><%= cnode.title %></td>
                    <td><%= cnode.remark %></td>
                    <td><%= cnode.field_type %></td>
                  </tr>
                <% end %>
                </table>
            </div>
          </div>
          <% i+=1 %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit nil,class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
