<%= content_for :js do %>
<%= javascript_include_tag 'ckeditor/init' %>
<% end %>

<%= form_for(@cxpt_mnews,html:{class:"form-inline edit_form"}) do |f| %>
    <%= form_errors(@cxpt_mnews) %>
    <table class="table">
      <tr>
        <td width="15%"><%= f.label :title %></td>
        <td><%= f.select :cxpt_cate_id,options_for_select(Cxpt::Cate.all_cates,@cxpt_mnews.cxpt_cate_id)%><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :content %></td>
        <td><%= f.cktext_area :content,:ckeditor => {:uiColor => '#efefef'} %></td>
      </tr>
      <tr>
        <td><%= f.label :author %></td>
        <td><%= f.text_field :author %></td>
      </tr>
      <tr>
        <td><%= f.label :publish_at %></td>
        <td colspan="3"><%= f.datetime_local_field :publish_at %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">
          <%= f.submit "立即发布",class:"btn btn-success",id:"publish_button" %>
          <%= f.submit "存为草稿",class:"btn btn-primary" %>
        </td>
      </tr>
    </table>
<% end %>
