<div class="page-header">
  <h2>创新平台文章管理</h2>

  <%= form_tag(new_cxpt_mnews_path, method: :get) do %>
      <%= select_tag :cate,mnews_cate_option(@cate_tree),class:'selectpicker',id:'new_passage_select' %>
      <button class="btn btn-success" id="new_passage_submit">添加新文章</button>
  <% end %>

</div>

<div ng-app="newsList">
  <div ng-controller="listController">
    <div class="filter_box">
      <h4>筛选</h4>
      <table class="table  table-condensed">
        <tr>
          <td>发布状态</td>
          <td>
            <label class="option"><input type="radio" value="已发布" ng-model="flt.status" name="status"> 已发布</label>
            <label class="option"><input type="radio" value="未发布" ng-model="flt.status" name="status"> 未发布</label>
            <label class="option"><input type="radio" value="草稿" ng-model="flt.status" name="status"> 草稿</label>
          </td>
          <td>发布类别</td>
          <td>
            <%= select_tag :ui_cate,mnews_cate_option_with_all(@cate_tree),class:'selectpicker' %>
          </td>
          <td>搜索</td>
          <td><input type="text" name="search" ng-model="flt.search" class="rounded_input" placeholder="标题/摘要"></td>
        </tr>
      </table>
    </div>
    <br>
    <table class="table table-condensed">
      <thead>
      <th>类别</th>
      <th>标题</th>
      <th width="50%">摘要</th>
      <th>发布日期</th>
      <th>浏览量</th>
      <th>状态</th>
      <th width="80px"></th>
      </thead>
      <tbody ng-init="getData()">
      <tr ng-repeat="item in dataset | select_panel:flt as results  ">
        <td>{{item.cate}}</td>
        <td>{{item.title}}</td>
        <td>
          <div class="summary_box">
            {{item.summary}}

          </div>
        </td>
        <td>{{item.publish_at | date:'yy-MM-dd'}}</td>
        <td>{{item.view_count}}</td>
        <td><span class="label label-{{item.stats.stl}}">{{item.stats.text}}</span></td>
        <td>
          <a ng-href="{{item.url}}" class="btn btn-info btn-sm"><%= fa_icon "info" %></a>
          <a ng-href="{{item.url}}/edit" class="btn btn-warning btn-sm"><%= fa_icon "pencil" %></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="result_set_status">已找到{{results.length}}条，共{{dataset.length}}条</div>
  </div>
</div>


<%= content_for :before_js do %>
    <script>
        var news_list = angular.module('newsList',[]);
        news_list.controller('listController', function ($scope,$http){
            $scope.flt = {
                ui_cate_name:"全选",
                status:"已发布",
                search:"",
            };

            $('#ui_cate').change(function(){
              var this_obj = $(this);
              var cate_id = this_obj.val();
              var cate_name = this_obj.find('option[value='+cate_id+']').html();
              $scope.flt.ui_cate_name = cate_name;
              $scope.$digest();
            });

            $scope.getData = function (){
                var data = $http.get('<%= cxpt_mnews_index_path(format: :json) %>',{cache: true});
                data.success(function (data){
                    var time_now = new Date();
                    for(key in data){
                        data[key]["publish_at"] = new Date(data[key]["publish_at"]);
                        if(data[key].is_draft){
                            data[key]["stats"]={stl: "default",text:"草稿"};
                        }else if(data[key]["publish_at"]<time_now){
                            data[key]["stats"]={stl: "success",text:"已发布"};
                        }else if(data[key]["publish_at"]>time_now){
                            data[key]["stats"]={stl: "info",text:"未发布"};
                        }
                    }

                    $scope.dataset = data;
                });
                data.error(function (data){
                    alert("数据加载错误！");
                });
            };
        });
        news_list.filter('select_panel',function () {
            return function (items, flt){
                var result = [];
                var status = flt.status;
                var search_text = flt.search;
                for(i in items){
                    // 如果列表元素的状态与选中的状态相同
                    if(items[i].stats.text==status){
                        // 如果列表元素的类别在cate_arr中
                        if(flt.ui_cate_name === '全选' || flt.ui_cate_name==items[i].cate ){
                            // 如果有输入搜索词且在title或summary中出现
                            if(search_text != ""){
                                if(items[i].title.indexOf(search_text)>=0 || items[i].summary.indexOf(search_text)>=0){
                                    result.push(items[i]);
                                }
                            }else{
                                // 保存
                                result.push(items[i]);
                            }
                        }
                    }
                }
                return result;
            }
        });
    </script>
<% end %>
