<h1>Listing cxpt_mnews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Summary</th>
      <th>Author</th>
      <th>Publish at</th>
      <th>View count</th>
      <th>Cxcate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cxpt_mnews.each do |cxpt_mnews| %>
      <tr>
        <td><%= cxpt_mnews.title %></td>
        <td><%= cxpt_mnews.content %></td>
        <td><%= cxpt_mnews.summary %></td>
        <td><%= cxpt_mnews.author %></td>
        <td><%= cxpt_mnews.publish_at %></td>
        <td><%= cxpt_mnews.view_count %></td>
        <td><%= cxpt_mnews.cxcate_id %></td>
        <td><%= link_to 'Show', cxpt_mnews %></td>
        <td><%= link_to 'Edit', edit_cxpt_mnews_path(cxpt_mnews) %></td>
        <td><%= link_to 'Destroy', cxpt_mnews, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mnews', new_cxpt_mnews_path %>
