<h1>Listing manage_professions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_professions.each do |manage_profession| %>
      <tr>
        <td><%= manage_profession.name %></td>
        <td><%= link_to 'Show', manage_profession %></td>
        <td><%= link_to 'Edit', edit_manage_profession_path(manage_profession) %></td>
        <td><%= link_to 'Destroy', manage_profession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profession', new_manage_profession_path %>
