<div class="page-header">
  <h1>学院专业列表</h1>
</div>
<%= form_errors(@manage_profession) %>
<div class="panel-group" id="accordion">
<% i=0 %>
<% @manage_professions.each do |manage_profession| %>
  <div class="panel panel-default">
    <div class="panel-heading node-block">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= manage_profession.name %>">
          <%= manage_profession.name %>
        </a>
        
      </h3>
    </div>
    <div id="collapse<%= manage_profession.name %>" class="panel-collapse collapse <% if i==0 %>in<% end %>">
        <table class="table table-hover">
          <thead>
            <th><%= tm 'profession.name'  %></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
            <%= link_to '编辑', edit_manage_profession_path(manage_profession,:pid=>0),class:"btn btn-warning" %>
            <%= link_to '删除', manage_profession, method: :delete,
              data: { confirm: t('confirm_delete') },class:"btn btn-danger",disabled:!manage_profession.child.empty?%>
            </th>
          </thead>
          
          <% manage_profession.child.each do |cprofession| %>
            <tr>
              <td><%= cprofession.name %></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <%= link_to '编辑', edit_manage_profession_path(cprofession,:pid=>manage_profession),class:"btn btn-warning" %>
                <%= link_to '删除', manage_profession_path(cprofession), method: :delete,
                  data: { confirm: t('confirm_delete') },class:"btn btn-danger" %>
              </td>
            </tr>
          <% end %>
            <tr>
              <%= form_for(@manage_profession) do |f| %>

                <%= f.hidden_field :pid,value: manage_profession.id %>
              <td>
                <%= f.submit "增加专业",class:"btn btn-success" %>
              </td>
              <td>
                <%= f.text_field :name,class:"form-control" %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <% end %>
            </tr>
          </table>
    </div>
  </div>
  <% i+=1 %>
<% end %>
</div>

<br>
<table class="table">
<%= form_for(@manage_profession) do |f| %>
  <tr>
    <td><%= f.submit "增加学院",class:"btn btn-success" %></td>
    <td><%= f.text_field :name,class:"form-control" %></td>
  </tr>
  <%= f.hidden_field :pid,value: 0 %>
</table>
<% end %>





