<%= form_for(@manage_config) do |f| %>
  <%= form_errors(@manage_config) %>

  <div class="alert alert-info">
    <%= raw @manage_config.desc %>
  </div>
  <table class="table">
    <tr>
      <td>
        <%= f.label :value %>
      </td>
      <td>
        <%= f.send(Manage::Config.field_reflection[@manage_config.field_type.to_sym],:value,class:"form-control")  %>
      </td>
    </tr>
  </table>
    
    

  <div class="actions">
    <%= f.submit nil,class:"btn btn-primary" %>
  </div>
<% end %>
