<div class="page-header">
  <h1>Listing manage_configs</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= tm('manage_config.key') %></th>
      <th><%= tm('manage_config.value') %></th>
      <th><%= tm('manage_config.field') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_configs.each do |manage_config| %>
      <tr>
        <td><%= manage_config.key %></td>
        <td><%= manage_config.value %></td>

        <td>
        <%= link_to '编辑', edit_manage_config_path(manage_config),class:"btn btn-warning" %>
        <%= link_to '删除', manage_config, method: :delete, data: { confirm: t('confirm_delete') },class:"btn btn-danger" %>
        </td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>


<br>


<%= link_to fa_icon('plus',text:'New Config'), new_manage_config_path,class:"btn btn-success" %>



