<div class="page-header">
  <h1>系统设置</h1>
</div>

<div class="panel-group" id="accordion">
<% i=0 %>
<% @config_types.each do |config_type| %>

  <div class="panel panel-default">
    <div class="panel-heading node-block">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= config_type.name %>">
          <%= config_type.name %>
        </a>
      </h3>
    </div>
    <div class="panel-collapse collapse <% if i==0 %>in<% end %>">
        <table class="table table-hover">
          <thead>
            <th><%= tmc 'key' %></th>
            <th><%= tmc 'name' %></th>
            <th><%= tmc 'value' %></th>
            <th></th>
          </thead>
          <% config_type.configs.each do |config| %>
          <tr>
            <td><%= config.key %></td>
            <td><%= config.name %></td>
            <td><%= config.value %></td>
            <td><%= link_to '编辑',edit_manage_config_path(config),remote: true,class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
  <% i+=1 %>
<% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

