<div class="page-header">
  <h2>赛事管理</h2>
</div>


<ul class="nav nav-pills" role="tablist">
  <% @contests.each do |contest| %>
      <li role="presentation" class="<%= 'active' if contest.id == @current.id %>"><a href="?contest=<%= contest.id %>"><%= contest.name %> <span class="badge"><%= contest.competes_count %></span></a> </li>
  <% end %>
  <li role="presentation"><a href="<%= new_manage_contest_path %>" class="success"> <i class="fa fa-plus"></i> 添加比赛大类</a></li>
</ul>

<% @competes.each do |compete| %>
  <%= render partial:'item',locals:{compete: compete} %>
<% end %>



<br>

<%= link_to '新建比赛', new_manage_compete_path,class:"btn btn-success" %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <a class="btn btn-warning" id="edit_link">编辑</a>
      </div>
    </div>
  </div>
</div>
