<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @manage_compete.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @manage_compete.end_time %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @manage_compete.admin_id %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @manage_compete.contest_id %>
</p>

<%= link_to 'Edit', edit_manage_compete_path(@manage_compete) %> |
<%= link_to 'Back', manage_competes_path %>
