

<% @manage_news.each do |manage_news| %>
    <% panel_style = "primary"  %>
    <%= bs_panel title: manage_news.title ,style:panel_style,footer:"发布人：#{manage_news.author if manage_news.admin}" do %>
      <br>
      <table class="table">
      <tr>
        <td><%= tmc 'contest_id' %></td>
        <td><%= manage_news.contest %></td>
      </tr>
      <tr>
        <td><%= tmc 'content' %></td>
        <td><%= manage_news.content %></td>
      </tr>
      <tr>
        <td>操作</td>
        <td>
        <% if @type==1 %>
          <!-- 发布与放入回收箱功能还未实现 -->
            <%= link_to '详情', manage_news,class:"btn btn-info" %>
            <%= link_to '编辑', edit_manage_news_path(manage_news),class:"btn btn-warning" %>
            <%= link_to '放入草稿箱', manage_news_draft_url(manage_news), method: :patch,class:"btn btn-warning" %>
            <%= link_to '放入回收箱', manage_news_recycle_url(manage_news), method: :patch,class:"btn btn-danger" %>
          <% elsif @type==2 %>
              <%= link_to '发布', manage_news_publish_url(manage_news), method: :patch,class:"btn btn-success" %>
            <%= link_to '详情', manage_news,class:"btn btn-info" %>
            <%= link_to '编辑', edit_manage_news_path(manage_news),class:"btn btn-warning" %>
            <%= link_to '放入回收箱', manage_news_recycle_url(manage_news), method: :patch,class:"btn btn-danger" %>
          <% elsif @type==3 %>
            <%= link_to '发布', manage_news_publish_url(manage_news), method: :patch,class:"btn btn-success" %>
            <%= link_to '详情', manage_news,class:"btn btn-info" %>
            <%= link_to '编辑', edit_manage_news_path(manage_news),class:"btn btn-warning" %>
            <%= link_to '放入草稿箱', manage_news_draft_url(manage_news), method: :patch,class:"btn btn-warning" %>
            <%= link_to '删除', manage_news, method: :delete, data: { confirm: t('confirm_delete') },class:"btn btn-danger" %>
          <% end %>
          </td> 
      </tr>
    </table>
  <% end %>
<% end %>
<br>
<br>
