<div class="page-header">
  <h2>资讯管理</h2>
<%= link_to '添加新资讯', new_manage_news_path,class:"btn btn-success" %>
</div>


<div ng-app="newsList">
<div ng-controller="listController">
<div class="filter_box">
    <h4>筛选</h4>
    <table class="table  table-condensed">
        <tr>
            <td>发布状态</td>
            <td>
                <label class="option"><input type="radio" value="已发布" ng-model="flt.status" name="status"> 已发布</label>
                <label class="option"><input type="radio" value="草稿" ng-model="flt.status" name="status"> 草稿</label>
                <label class="option"><input type="radio" value="已删除" ng-model="flt.status" name="status"> 已删除</label>
            </td>
        </tr>
        <tr ng-init="select_all()">
            <td>发布类别</td>
            <td>
                <form name="haha">
                <button class="btn btn-default" ng-click="select_all()">全选</button>
                <% @news_cates.each do |cate| %>
                <label class="option"><input type="checkbox" ng-model="flt.cate_id['<%= cate[0]  %>']" name="cate" data-cate="<%= cate[0] %>"> <%= cate[0] %></label>
                <% end %>
                </form>
            </td>
        </tr>
        <tr>
            <td>搜索</td>
            <td><input type="text" name="search" ng-model="flt.search" class="rounded_input" placeholder="标题/摘要"></td>
        </tr>
    </table>
</div>
<table class="table table-condensed">
    <thead>
        <th>类别</th>
        <th>标题</th>
        <th width="50%">摘要</th>
        <th>发布日期</th>
        <th>作者</th>
        <th>状态</th>
        <th width="80px"></th>
    </thead>
    <tbody ng-init="getData()">
        <tr ng-repeat="item in dataset | select_panel:flt as results ">
            <td>{{item.contest}}</td>
            <td>{{item.title}}</td>
            <td>
                <div class="summary_box">
                    {{item.summary}}
                    
                </div>
            </td>
            <td>{{item.publish_at | date:'yy-mm-dd'}}</td>
            <td>{{item.author}}</td>
            <td><span class="label label-{{item.stats.stl}}">{{item.stats.text}}</span></td>
            <td>
                <a ng-href="{{item.url}}" class="btn btn-info btn-sm"><%= fa_icon "info" %></a>
                <a ng-href="{{item.url}}/edit" class="btn btn-warning btn-sm"><%= fa_icon "pencil" %></a>
            </td>
        </tr>
    </tbody>
</table>
<div class="result_set_status">已找到{{results.length}}条，共{{dataset.length}}条</div>
</div>
</div>


<%= content_for :before_js do %>
<script>
var news_list = angular.module('newsList',[]);
news_list.controller('listController', function ($scope,$http){
    $scope.flt = {
        cate_id:{},
        status:"已发布",
        search:"",
    };

    $scope.select_all = function () {
        for(key in haha.cate){
            if(typeof(haha.cate[key]) == "object"){
                var cate = haha.cate[key].getAttribute('data-cate');
                $scope.flt.cate_id[cate] = true;
            }
        }
    };

    $scope.getData = function (){
        var data = $http.get('<%= manage_news_news_list_path(format: :json) %>',{cache: true});
        data.success(function (data){
            var time_now = new Date();
            for(key in data){
                data[key]["publish_at"] = new Date(data[key]["publish_at"]);
                if(data[key].is_deleted){
                    data[key]["stats"]={stl: "danger",text:"已删除"};
                }else if(data[key].is_draft){
                    data[key]["stats"]={stl: "default",text:"草稿"};
                }else if(data[key]["publish_at"]<time_now){
                    data[key]["stats"]={stl: "success",text:"已发布"};
                }else if(data[key]["publish_at"]>time_now){
                    data[key]["stats"]={stl: "info",text:"未发布"};
                }
            }

            $scope.dataset = data;
        });
        data.error(function (data){
            alert("数据加载错误！");
        });
    };
});
news_list.filter('select_panel',function () {
    return function (items, flt){
        var result = [];
        var status = flt.status;
        var cate_arr = [];
        var search_text = flt.search;
        console.log(search_text);
        // 将所有选中项目的名字都汇总到cate_arr中
        for(i in flt.cate_id){
            if(flt.cate_id[i]){
                cate_arr.push(i);
            }
        }
        for(i in items){
            // 如果列表元素的状态与选中的状态相同
            if(items[i].stats.text==status){
                // 如果列表元素的类别在cate_arr中
                if(cate_arr.indexOf(items[i].contest)>=0){
                    // 如果有输入搜索词且在title或summary中出现
                    if(search_text != ""){
                        if(items[i].title.indexOf(search_text)>=0 || items[i].summary.indexOf(search_text)>=0){
                            result.push(items[i]);
                        }
                    }else{
                        // 保存
                        result.push(items[i]);
                    }
                }
            }
        }
        return result;
    }
});
</script>
<% end %>
<%= content_for :js do %>
<script>
var jq = jQuery.noConflict();
jq(document).on( "click", "div.summary_box", function() {
    jq(this).removeClass("summary_box");
});
</script>
<% end %>