
<!--%= @config.login_fail_times %-->
<div class="container">
    <div class="row">
        <div class="col-md-3 navbar">
            <div class="pinfo">
                <div class="pinfo-header">
                    <h4>个人信息</h4>
                </div>
                
                <div class="pinfo-info">
                    <table class="table table-hover">
                       <tr>
                           <td colspan="2">
                               <%= image_tag @student.avatar.thumb,class:"pinfo-avatar     block-center" %>
                            </td>
                       </tr>
                        <tr>
                            <td>
                                学号: 
                            </td>
                            <td>
                                <%= @student.stuid %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                姓名: 
                            </td>
                            <td>
                                <%= @student.name %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                邮箱: 
                            </td>
                            <td>
                                <%= @student.email %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                电话: 
                            </td>
                            <td>
                                <%= @student.phone %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                年级: 
                            </td>
                            <td>
                                <%= @student.grade %>
                            </td>
                        </tr>
                    </table>                          
                </div>
                <div class="navs">
                    <div class="list-group">
                        <%= link_to '个人设置', "#",class:"list-group-item" %>
                        <%= link_to '正在参加的比赛', "#",class:"list-group-item" %>
                        <%= link_to '我是导航', "#",class:"list-group-item" %>
                        <%= link_to '我也是导航', "#",class:"list-group-item" %>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col-md-9">
            <div class="infomation">
<BR>____________________________ooOoo_
<BR>__________________________o8888888o
<BR>___________________________88" . "88
<BR>___________________________(| -_- |)
<BR>____________________________O\ = /O
<BR>____________________________/`---'\____
<BR>______________________.   ' \\| |// `.
<BR>_______________________/ \\||| : |||// \
<BR>_____________________/ _||||| -:- |||||- \
<BR>_______________________| | \\\ - /// | |
<BR>_____________________| \_| ''\---/'' | |
<BR>______________________\ .-\__ `-` ___/-. /
<BR>__________________`. .' /--.--\ `. . __
<BR>_______________ ."" '< `.___\_<|>_/___.' >'"".
<BR>_______________| | : `- \`.;`\ _ /`;.`/ - ` : | |
<BR>_______________  \ \ `-. \_ __\ /__ _/ .-` / /
<BR>_________======`-.____`-.___\_____/___.-`____.-'======
<BR>____________________________`=---='
<BR>
<BR>.........................................................
<BR>                  佛祖镇楼                  BUG辟易
<BR>          佛曰:
<BR>                  写字楼里写字间，写字间里程序员；
<BR>                  程序人员写程序，又拿程序换酒钱。
<BR>                  酒醒只在网上坐，酒醉还来网下眠；
<BR>                  酒醉酒醒日复日，网上网下年复年。
<BR>                  但愿老死电脑间，不愿鞠躬老板前；
<BR>                  奔驰宝马贵者趣，公交自行程序员。
<BR>                  别人笑我忒疯癫，我笑自己命太贱；
<BR>                  不见满街漂亮妹，哪个归得程序员？
            </div>
        </div>
    </div>
</div>

