<%= form_for(@manage_node) do |f| %>
  <% if @manage_node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_node.errors.count, "error") %> prohibited this manage_node from being saved:</h2>

      <ul>
      <% @manage_node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="field">
    <%= f.label :extra_data %><br>
    <%= f.text_area :extra_data %>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.number_field :sort %>
  </div>
  <div class="field">
    <%= f.label :pid %><br>
    <%= f.number_field :pid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
