<div class="page-header">
  <h1>权限列表</h1>
</div>

<div class="panel-group" id="accordion">
<% i=0 %>
<% @manage_nodes.each do |manage_node| %>
  <div class="panel panel-default">
    <div class="panel-heading node-block">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= manage_node.name %>">
          <%= manage_node.title %>(<%= manage_node.name %>) 
        </a>
        <span>
          <%= link_to fa_icon('pencil',text:'编辑'),edit_manage_node_path(manage_node),class: "btn btn-sm btn-warning" %>
          <% if manage_node.child.empty? %>
            <%= link_to fa_icon('close',text:'删除'),manage_node,method: :delete, data: { confirm: t('confirm_delete') },class: "btn btn-sm btn-danger" %>
          <% end %>
        </span>
      </h3>
    </div>
    <div id="collapse<%= manage_node.name %>" class="panel-collapse collapse <% if i==0 %>in<% end %>">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th><%= tm('node.name') %></th>
            <th><%= tm 'node.remark' %></th>
            <th><%= tm 'node.sort' %></th>
            <th width="20%">操作</th>
          </thead>
          
        <% manage_node.child.each do |cnode| %>
          <tr>
            <td>#<%= cnode.id %></td>
            <td><%= cnode.title %>(<%= cnode.name %>)</td>
            <td><%= cnode.remark %></td>
            <td><%= cnode.sort %></td>
            <td>
              <%= link_to fa_icon('pencil',text:'编辑'), edit_manage_node_path(cnode),class:"btn btn-warning btn-sm" %>
              <%= link_to fa_icon('close',text:'删除'),cnode,method: :delete, data: { confirm: t('confirm_delete') },class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
        </table>
    </div>
  </div>
  <% i+=1 %>
<% end %>
</div>


<%= link_to '新建节点', new_manage_node_path,class:"btn btn-success" %>
