<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manage_node.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manage_node.title %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @manage_node.remark %>
</p>

<p>
  <strong>Extra data:</strong>
  <%= @manage_node.extra_data %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @manage_node.sort %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @manage_node.pid %>
</p>

<%= link_to 'Edit', edit_manage_node_path(@manage_node) %> |
<%= link_to 'Back', manage_nodes_path %>
