<!DOCTYPE html>
<html>
<head>
  <title>创新实验室管理系统后台</title>
  <%= stylesheet_link_tag    "manage/common", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "manage/main_frame", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "jquery.mCustomScrollbar.css", media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <div class="logo"><h2>Logo</h2></div>
            </div>
            <div class="sidebar-container">

                <% @navs.each do |key,val| %>
                <div class="container-fluid">
                    <div class="sidebar-row">
                        <div class="sidebar-header"><%= key %></div>
                        <div class="sidebar-nav-container">
                            <ul class="sidebar-nav">
    <% val.each do |nav| %>
        <% if nav[:children].nil? %>
            <li><%= link_to fa_icon(nav[:icon],text:nav[:text]),nav[:options],target: "main_frame" %></li>
        <% else %>
            <li class="sidebar-subnav-list">
                <a class="sidebar-subnav-button">
                    <%= fa_icon(nav[:icon]) %>
                    <%= nav[:text] %>
                    <i class="fa fa-chevron-left toggle-button"></i>
                </a>
                <ul class="sidebar-subnav">
                    <% nav[:children].each do |child| %>
                        <li><%= link_to fa_icon(child[:icon],text:child[:text]),child[:options],target: "main_frame" %></li>
                    <% end %>
                </ul>
            </li>
        <% end %>
    <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="main">
            <div class="navbar">
                <ul class="navbar-nav">
                    <li>
                        <a href="">
                            <i class="fa fa-user navbar-icon"></i><span class="navbar-nav-ctrl">账户</span>
                            <div class="navbar-dropdown">
                            	<div class="dropdown-title">用户管理</div>	
                            	<div class="dropdown-body">				
	                                <div class="dropdown-avatar"><%= image_tag "user-thumb.png" %></div>
	                                <div class="dropdown-name">测试用户
	                                	<p>后台管理员</p>
	                                </div>
	                                <div class="dropdown-user-ctrl">
	                                	<button class="btn-red">个人设置</button>
	                                	<button class="btn-blue">更多设置</button>
	                                </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-bullhorn navbar-icon"></i><span class="navbar-nav-ctrl">通知</span><span class="navbar-badge badge-orange">3</span>
                           <div class="navbar-dropdown">
                                <div class="dropdown-title">通知管理</div>  
                                <div class="dropdown-body" style="padding:0"> 
                                	<div class="notify-row">
                                		<div class="notify-body">
                                			<div class="notify-title">通知标题</div>
                                			<div class="notify-summary">通知内容缩写缩写缩写缩写缩写缩写缩写缩写</div>
                                		</div>
                                		<div class="notify-time"><i class="fa fa-comments"></i>3小时前</div>
                                		<div class="clear"></div>
                                	</div>  
                                	<div class="notify-row">
                                		<div class="notify-body">
                                			<div class="notify-title">通知标题</div>
                                			<div class="notify-summary">通知内容缩写缩写缩写缩写缩写缩写缩写缩写</div>
                                		</div>
                                		<div class="notify-time"><i class="fa fa-comments"></i>3小时前</div>
                                		<div class="clear"></div>
                                	</div>            
                                </div>
                                <div class="dropdown-notify-ctrl">
                                	<button class="notify-ignoreall notify-ctrl-left">忽略全部</button>
                                	<button class="notify-viewall notify-ctrl-right">查看全部</button>
                                </div>
                            </div>                            
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-envelope navbar-icon"></i><span class="navbar-nav-ctrl">消息</span><span class="navbar-badge badge-green">3</span>
                            <div class="navbar-dropdown">
                                <div class="dropdown-title">消息管理</div>  
                                <div class="dropdown-body">             
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href=""><i class="fa fa-gear"></i><span class="navbar-nav-ctrl">设置</span></a></li>
                    <li><%= link_to "退出登录",manage_logout_path,method: :delete,:class=>"logout" %></li>
                </ul>
            </div>
            <div class="body" >
            <iframe src="<%= manage_index_dashboard_path %>" width="900px" height="600px" frameborder="0" id="main_frame" name="main_frame"></iframe>
            </div>
        </div>

    </div>


</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery.mCustomScrollbar.concat.min.js", 'data-turbolinks-track' => true %>
</html>
