<div class="bgvideo">
    <div class="bgvideo-wrap">
    </div>
    <div class="bgvideo-news">
        <div class="bgvideo-slogen">
            <h1>最新比赛资讯</h1>
            <div class="typer">
                <span data-typer-targets="第三届蓝桥杯软件设计比赛开始报名了,第二届中国软件杯进入复赛阶段,ACM-ICPC亚洲邀请赛西安赛区将于周五进行" id="typer-text"></span>
                <span id="typed-cursor">|</span>                
            </div>
        </div>
        <a href="" class="bgvideo-button btn">查看更多</a>
    </div>
    <a class="scroll">
        <span class="scroll-down"></span>
        <span class="scroll-text">Scroll</span>
    </a>
    <video autoplay loop preload="auto" style="width:100%;">
        <source src="<%= asset_path "hero-home.mp4" %>" type="video/mp4">
    </video>
</div>
<div class="container-fluid">
    <div class="main-content">
        <section class="row section-one">
            <!-- 实验室介绍 -->
            <div class="section-ctn">
                <div class="title lab">
                    <h2>创新实验室</h2>
                    <span class="title-en">INNOVATION LAB</span>
                </div>  
                <h2 class="slogen">一句话的创新实验室介绍标语</h2>
                <p class="sub-slogen">其他第一些介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>   
                <div class="cxbanner">
                    <div class="cxbanner-box">
                        <img src="/assets/index/cxbanner-1.svg" alt="">
                        <h3>标题1号标题</h3>
                        <p>说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容</p>
                    </div>
                    <div class="cxbanner-box">
                        <img src="/assets/index/cxbanner-1.svg" alt="">
                        <h3>标题2号标题</h3>
                        <p>说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容</p>
                    </div>    
                    <div class="cxbanner-box">
                        <img src="/assets/index/cxbanner-1.svg" alt="">
                        <h3>标题2号标题</h3>
                        <p>说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容</p>
                    </div>
                    <div class="clear"></div>                                       
                </div>        
            </div>
        </section>
        <section class="row section-two">
            <!-- 比赛新闻 -->
            <div class="section-ctn">
                <div class="title">
                    <h2>比赛资讯</h2>
                    <span class="title-en">COMPETITION NEWS</span>
                </div>    
                <div class="cptt">
                    <ul>
                        <% @news.each do |item| %>
                        <li>
                            <a href="" class="news-button">
                            <%= item.title %>
                            <%= date_from_now item.publish_at %></a>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <div class="coding">
                    <%= render 'coding.svg' %>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <div class="row section-four">
            <div class="competition">
                <div class="competition-header">
                    <h1>赛事介绍</h1>
                </div>
                <div class="competition-list">
                    <div class="nav-control competition-nav">
                        <div class="container">
                            <ul class="nav nav-pills tab-control col-md-8 col-md-offset-2">
                                <div class="row">
                                    <% @contests.each do |contest| %>
                                        <li class="col-xs-3"><a class="col-xs-12" href="#"><%= contest.name %></a></li>
                                    <% end %>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="flexslider">
                        <div class="container">
                            <ul class="slides">  <!-- slides begin -->
<% @contests.each do |contest| %>
    <li>
    <div class="col-md-10 col-md-offset-1">
    <div class="competition-desc">
    <div class="row">
        <div class="competition-pic col-md-6">
            <%= image_tag contest.cover.url,style:"margin-top:0;margin-left:150px;max-height:200px" %>
        </div>
        <div class="col-md-6">
            <div class="competition-desc-title">
                <h2><%= contest.name %></h2>
            </div>
            <div class="competition-desc-content">
                <p><%= contest.summary %></p>
            </div>  
            <button class="btn competition-desc-btn">查看详细介绍</button>                    
        </div>
    </div>
                
    </div>  
    <div class="divider-line">
        <%= image_tag 'index/line.png' %>
        <p class="divider-content">比赛信息</p>
    </div>
    <div class="row competition-psg">
    <div class="col-md-5 col-md-offset-1  competition-info">
        <div class="competition-psg-header">
            <span class="competition-icon-bbs"></span>
            <h4>通知公告</h4>  
        </div>
        <div class="clear"></div>
        <ul>
            <li class="info-items"><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
            <li class="info-items"><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
            <li class="info-items"><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
            <li class="info-items"><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
            <li class="info-items"><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
        </ul>
    </div>
    <div class="col-md-5 competition-post">
        <div class="competition-post-header">
            <span class="competition-icon-notify"></span>
            <h4>论坛新帖</h4>  
        </div>
        <div class="clear"></div>
        <ul>
            <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
            <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
            <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
            <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
            <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
        </ul>
    </div>                          
    </div>      
<% if @contests_data[contest.id][:compete] %>
    <div class="divider-line">
    <img src="/assets/index/line.png" alt="">
    <p class="divider-content">赛事进度</p>
    </div>

    <div class="row competition-progress">
    <div class="col-md-10 col-md-offset-1 competition-progress-bar">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @contests_data[contest.id][:percent] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @contests_data[contest.id][:percent] %>%;">
            </div>
        </div>
        <% @contests_data[contest.id][:holdings].each do |section| %>
        <!-- section.is_started?属性可以用来判断该阶段是否已经开始，并用不同颜色加以区分 -->
        <!-- <%= section.is_started? %> -->
        <div class="competition-progress-tag">
             <div class="tooltip bottom" role="tooltip" style="left:<%= section.percents_after_compete_start-4.5 %>%;">
                 <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                    <span><%= section.start_time.strftime("%m.%d")+" "+section.name %> </span>
                </div>                       
            </div>  
        </div>
        <% end %>         
    </div>
    </div>
    <div class="clear"></div>
    <div class="competition-countdown">
    <h2>
        <% if @contests_data[contest.id][:next_section] %>
        <% left = @contests_data[contest.id][:next_section].days_hours_left %>
        距离<%= @contests_data[contest.id][:next_section].name %>还有<span class="countdown-number"><%= left[:days] %></span>天<span class="countdown-number"><%= left[:hours] %></span>小时
        <% end %>
    </h2>
    </div>
<% end %>
    </div>  
    </li>
<% end %>

                            </ul>  <!-- slides end -->
                        </div>
                    </div>
                </div> <!-- competition list end --> 
            </div>
        </div>              
    </div>
</div>


<%= content_for :js do %>
<%= javascript_include_tag  "jquery.flexslider-min.js",'data-turbolinks-track' => true %>
<%= javascript_include_tag  "jquery.typer.js",'data-turbolinks-track' => true %>

<% end %>