<%= content_for :lunbo do %>


<div class="news-flow">
<div class="row">
  <div class="lunbo col-md-8">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% count=-1 %>
        <% @news_with_cover.each_with_index do |news,i| %>
        <div class="item <%= 'active' if i==0 %>" data-id="<%= i %>">
          <%= link_to image_tag(news.cover.url),'#' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="news-list col-md-4">
    <ul id="news-list-ul">
      <% @news_with_cover.each_with_index do |news,index| %>
        <li class="<%= 'active' if index==0 %>" data-id="<%= index %>"><div class="fixed_box"><%= news.title %></div></li>
      <% end %>
    </ul>
  </div>

</div>
</div>
<div class="divider"></div>

<% end %>


<!-- 正文部分 -->
<div class="row">
  <div class="col-md-6">

    <div class="list-item-box">
      <div class="header">
        <div class="title">
          <%= link_to "实验室简介",cxpt_pshow_path(@sys_intro) %>
        </div>
        <div class="more">
          <%= link_to "更多>>",cxpt_pshow_path(@sys_intro) %>
        </div>
      </div>
      <div class="list" style="max-height:270px">
        <% if @sys_intro %>
          <%= raw @sys_intro.content %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    
    <div class="list-item-box">
      <div class="header">
        <div class="title">
          <a>通知公告</a>
        </div>
        <div class="more">
          <%= link_to "更多>>",'#' %>
        </div>
      </div>
      <div class="list">
        <table class="table table-condensed box-table" >
          <% @tzgg.each do |p| %>
          <tr>
            <td><div class="fixed_box"><%= link_to p.title,cxpt_pshow_path(p) %></div>  </td>
            <td width="70px"><%= p.publish_at.strftime("%y-%m-%d") %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>
