<!DOCTYPE html>
<html>
<head>
  <title>创新实验室管理系统</title>
  <%= stylesheet_link_tag    "bootstrap_ball", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "index/common", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="animated headroom--top header-<%= @heaer_home? 'home' : 'fix' %>">
      <nav>
        <div class="brand"><a href="/">创新实验室</a></div>
        <div class="links">
          <ul>
            <li class="active"><%= link_to '首页',index_index_url %></li>
            <li><%= link_to '比赛列表',contest_url %></a></li>
            <li><a href="#">帮助中心</a></li>
            <li><%= link_to "后台管理",manage_url %></li>
          </ul>
        </div>
        <div class="links user">
          <ul>
            <% if @student %>
            <li class="info">
              <a href="<%= user_index_path %>"><%= image_tag @student.avatar.url(:thumb_mini),width:30,height:30,id:"user-avatar" %> &nbsp;用户中心</a>
            </li>
            <li class="warning"><%= link_to "退出",logout_path,method: :delete %></li>
            <% else %>
            <li class="info"><a href="<%= login_url %>" id="login-btn">登录</a></li>
            <li class="success"><a href="<%= login_regist_url %>">注册</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
<div class="content">
  <%= yield :before_container %>
  <div class="container">
    <%= yield %>
  </div>
</div>

<footer>
    <div class="footer-link">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix row">
                    <ul class="nav-group col-md-3 col-md-offset-2">
                        <h4>友情链接</h4>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                    </ul>
                    <ul class="nav-group col-md-3">
                        <h4>标签组</h4>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                    </ul>
                    <ul class="nav-group col-md-3">
                        <h4>标签组</h4>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="footer-logo">创新实验室</div>
        <p class="text">Copyright © 2013-4ever cxlab<span>・</span><a href="/en/" class="setlocale" data-locale="en"><span class="country en"></span>HHU</a></p>
    </div>  
</footer>  


<!-- 用户登录浮动框 -->
<div id="login-pop" class="dialog" style="display:none">
    <div class="dialog-box">
        <h3>登录<i class="popclose" onclick="close_login_box()"></i></h3>
        <div id="top_frame">
            <div id="login_form">
                <%= form_tag login_path,name: "form",class:"form-inline" do %>
                        <% if flash[:alert] %>
                            <div class="alert alert-danger"><%= flash[:alert] %></div>
                        <% else %>
                            <div class="alert_placeholder"></div>
                        <% end %>
                        <ul>
                        
                            <li>
                                <%= text_field_tag :stuid,params[:stuid],class: "input-item input-username",placeholder: "请输入用户名","data-toggle"=> "popover",autofocus: true,title:"","data-content"=>"用户名不能为空" %>
                                <p class="color-red pop-warning"></p>
                            </li>
                            <li><%= password_field_tag :password,params[:password],class: "input-item input-pwd",placeholder: "请输入密码","data-toggle"=> "popover",title:"","data-content"=>"密码不能为空" %>
                                <p class="color-red pop-warning"></p>
                            </li>
<!--                             <li><input type="text" placeholder="验证码" class="input-item validate-code input-secure">
                                <div class="validate-img"><img src="" alt=""></div>
                                <span class="validate-word"> 看不清楚？<br/>换一张</span>
                                <p class="color-red pop-warning"></p>
                            </li> -->
                            <li class="clear"></li>
                        </ul>
                        <div class="input-line">
                            <input type="checkbox">记住我
                            <%= link_to '忘记密码',login_forgot_url,class:'forgot-pwd' %>
                        </div> 
                        <%= submit_tag "登录",class: "button  login-submit" %>
                        
                        
                <% end %> 
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>        
<div id="black-layer" style="display:none"></div>


</body>
<%= javascript_include_tag  "index/common",'data-turbolinks-track' => true %>
<%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
<%= yield :js %>
</html>
