<!DOCTYPE html>
<html>
<head>
  <title>创新实验室管理系统</title>
  <%= stylesheet_link_tag    "bootstrap_ball", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "index/common", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="header animated headroom--top">
      <div class="container">
        <nav class="navbar" role="navigation">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">创新实验室</a>
          </div>
         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to '首页',index_index_url %></li>
              <li><a href="/tour?p=index&amp;s=">比赛列表</a></li>
              <li><a href="/business?p=index&amp;s=">帮助中心</a></li>
              <li><a href="/research?p=index&amp;s=">导航一</a></li>
              <li><a href="/developer?p=index&amp;s=">导航二</a></li>
              <li><%= link_to "后台管理",manage_url %></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
<div class="content">
  <div class="container-fluid">

    <%= yield %>
  </div>
</div>

<footer>
    <div class="footer-link">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix row">
                    <ul class="nav-group col-md-3 col-md-offset-2">
                        <h4>友情链接</h4>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                    </ul>
                    <ul class="nav-group col-md-3">
                        <h4>标签组</h4>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                    </ul>
                    <ul class="nav-group col-md-3">
                        <h4>标签组</h4>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                        <li><a href="">河海大学</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="footer-logo">创新实验室</div>
        <p class="text">Copyright © 2013-4ever cxlab<span>・</span><a href="/en/" class="setlocale" data-locale="en"><span class="country en"></span>HHU</a></p>
    </div>  
</footer>  


</body>
<%= javascript_include_tag  "index/common",'data-turbolinks-track' => true %>
<%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
<%= yield :js %>
</html>
