<!DOCTYPE html>
<html>
<head>
  <title>创新实验室管理系统</title>
  <%= stylesheet_link_tag    "bootstrap_ball", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "index/common", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="col-md-4 logo">Logo</div>
            <div class="col-md-6 col-md-offset-2 nav">
                <ul class="nav nav-pills nav-ul">
                    <li><a href="">首页</a></li>
                    <li><a href="">比赛列表</a></li>
                    <li><a href="">帮助中心</a></li>
                    <li><a href="">导航一</a></li>
                    <li><a href="">导航二</a></li>
                    <li><%= link_to "后台管理",manage_url %></li>
                </ul>
            </div>
            <div class="clear"></div>           
        </div>
    </div>
<%= yield %>

</body>
<%= javascript_include_tag  "index/common",'data-turbolinks-track' => true %>
<%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
<%= yield :js %>
</html>
